@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

/*
    * 자리에는 HTML tag가 들어가거나, class 이름 (.class-name)이 들어간다. *을 그대로 냅두면, HTML 모든 tag에 
    {}안에 기입하는 내용을 적용하게된다.
*/
* {
    font-family: 'Montserrat'
}

body,h1,h2 {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

.name-text {
    font-size: 17px;
    color: #7c7c7c;
    font-weight: bold;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
    /* width: 가로축그림자 0이면 없음, 양수면 오른쪽, 음수면 왼쪽,
       height: 세로축으로 그림자
       blur: 그림자 불투명도 (흐림정도)
       spread: 그림자 퍼짐의 정도
       color: 그림자의 색깔 (red, green, blue, transparent)
    */
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px; /*박스 안쪽과 콘텐츠 사이가 pdding*/
    font-size: 12px;
    color:#919191;
}

section {
    margin-bottom: 24px;
}